
body {
    overflow-x: hidden;
    font-family: 'Droid Sans', arial, serif;
    color: black;
    background-color: black;
}

.graph {
    width: 100%;
    height: 300px;
}

#totals {
    max-height: 390px;
    overflow:auto;
}

section {
  margin: 5px;
  padding: 10px;
  border-radius: 2px;
  
  background: #fb83fa; /* old browsers */
  background: -moz-linear-gradient(top, #fb83fa 0%, #e93cec 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb83fa), color-stop(100%,#e93cec)); /* webkit */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb83fa', endColorstr='#e93cec',GradientType=0 ); /* ie */

  background: -o-linear-gradient(top, #fb83fa 0%,#e93cec 100%); /* opera */
}

.statTable {
	width: 390px;
	border-collapse: collapse;
	text-align: left;
	float:left;
}
.statTable th {
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid;
}
.statTable td {
	padding: 9px 8px 0px 8px;
}
.statTable td:nth-child( even ) {
    text-align: right;
}
.statTable tr {
  cursor: pointer;
}
